
footer {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    background-color: var(--main-bg-color);
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    width: 33.33%;
    padding: 20px;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.footer-div h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.footer-div p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}


/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }

    .footer-div {
        padding: 0;
        width: 100%;
    }
}