
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.hebergements-and-activities {
    display: flex;
    justify-content: flex-end;
    gap: 68px;
    width: 50%;
    height: 100%;
    padding-bottom: 47px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

header img {
    width: 61.09px;
    height: 19px;
}

.hebergements-and-activities a {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 100;
    border-top: 3px solid transparent;
    transition: border-color 0.2s ease;
}

.hebergements-and-activities a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
    cursor: pointer;
}


/****** Media queries ***********/

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    
    header {
        flex-direction: column;
        width: 100%;
        background-color: aliceblue;
    }
}