
.research-and-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 281px;
    gap: 35px;
    padding-bottom: 25px;
}


/***** Titles *****/

.research-and-filters-titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18.8%;
    gap: 8px;
}

.research-and-filters-titles h1{
    margin: 0;
    font-size: 22px;
}

.research-and-filters-titles h3{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

/***** Research *****/

.research {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 377px;
    height: 17.4%;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.research-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 13%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.research-logo svg {
    width: 14px;
    height: 18px;
}

.research-input {
    background-color: white;
    width: 52%;
    height: 100%;
}

.research-input input {
    width: 100%;
    height: 100%;
    border: 0px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.research-input input::placeholder {
    color: black;
}

.research-button{
    width: 35%;
    height: 100%;
    text-align: center;
}

.research-button button {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0px;
    padding: 15px 16px 15px 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.research-button button:hover {
    color: var(--filter-bg-color);
    cursor: pointer;
}

/***** Filters *****/

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    height: 17.7%;
    width: 56.5%;
}

.filters h2 {
    font-weight: 700;
    font-size: 18px;
}

.filters button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 22.8%;
    background-color: white;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    padding: 4 19 4 19;
}

.filters svg {
    height: 22px;
    width: 22px;
}

.filters p {
    font-weight: 700;
    font-size: 17px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

/***** info *****/

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8.5%;
    gap: 10px;
}

.info p {
    font-weight: 400;
    font-size: 16px;
}



